<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 This file is part of the ePNK project. We have modified it accordingly to our needs.
-->

<plugin>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="appearance.Model3D"
            id="se2.e.appearance.browser.model3D">
         <action
               label="Load File..."
               class="appearance.extensions.browser.ModelBrowserAction"
               enablesFor="1"
               id="se2.e.appearance.browser.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="appearance.Texture"
            id="se2.e.appearance.browser.texture">
         <action
               label="Load File..."
               class="appearance.extensions.browser.TextureBrowserAction"
               enablesFor="1"
               id="se2.e.appearance.browser.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
         
      <clientContext
            default="false"
            id="appearance.extensions.constraints.AppearanceValidationContext">

         <selector class="appearance.extensions.constraints.AppearanceValidationContext"/> 
		           
      </clientContext>
      <binding
            context="appearance.extensions.constraints.AppearanceValidationContext"
            category="appearance.extensions.constraints"/>
   </extension> 
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      
      <category
         name="Appearance Validation"
         id="appearance.extensions.constraints">
         Validation of Appearance constraints.
      </category>
         
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://appearance/1.0">
         </package>

         <constraints categories="appearance.extensions.constraints">

           <constraint
                  lang="Java"
                  class="appearance.extensions.constraints.ExistsLabelConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Label in every appearance object"
                  id="appearance.extensions.constraints.ExistsLabelConstraint"
                  statusCode="101">
               <target class="appearance.AppearanceInfo"/>
               <description>
                  The object must have an appearance label.
               </description>
               <message>
                  The appearance label of {0} is missing.
               </message>
            </constraint>
            
            <constraint
                  lang="Java"
                  class="appearance.extensions.constraints.UniqueLabelsConstraint"
                  severity="ERROR"
                  mode="Batch"
                  name="Unique Labels"
                  id="appearance.extensions.constraints.UniqueLabelsConstraint"
                  statusCode="102">
               <target class="appearance.AppearanceModel"/>
               <description>
                  The appearance labels must be unique.
               </description>
               <message>
                  The appearance label of {0} already exists.
               </message>
            </constraint>
            
         </constraints>
      </constraintProvider>
   </extension>
   
</plugin>