<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="appearance.Model3D"
            id="se2.e.appearance.browser.model3D">
         <action
               label="Load File..."
               class="browser.popup.actions.BrowserAction"
               enablesFor="1"
               id="se2.e.appearance.browser.newAction">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="appearance.Texture"
            id="se2.e.appearance.browser.texture">
         <action
               label="Load File..."
               class="browser.popup.actions.BrowserAction"
               enablesFor="1"
               id="se2.e.appearance.browser.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
