<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="se2.e.ePNS"
            name="ePNS"/>
      <wizard
            id="animations.presentation.AnimationsModelWizardID"
            name="%_UI_AnimationsModelWizard_label"
            class="animations.presentation.AnimationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnimationsModelFile.gif">
         <description>%_UI_AnimationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="animations.presentation.AnimationsEditorID"
            name="%_UI_AnimationsEditor_label"
            icon="icons/full/obj16/AnimationsModelFile.gif"
            extensions="animations"
            class="animations.presentation.AnimationsEditor"
            contributorClass="animations.presentation.AnimationsActionBarContributor">
      </editor>
   </extension>

</plugin>
