<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="se2.e.configurator"
            class="Configurator.ConfiguratorPackage"
            genModel="model/Configurator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="configurator"
            class="Configurator.util.ConfiguratorResourceFactoryImpl"/>
   </extension>

</plugin>
