<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="appearance.presentation.AppearanceModelWizardID"
            name="%_UI_AppearanceModelWizard_label"
            class="appearance.presentation.AppearanceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AppearanceModelFile.gif">
         <description>%_UI_AppearanceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="appearance.presentation.AppearanceEditorID"
            name="%_UI_AppearanceEditor_label"
            icon="icons/full/obj16/AppearanceModelFile.gif"
            extensions="appearance"
            class="appearance.presentation.AppearanceEditor"
            contributorClass="appearance.presentation.AppearanceActionBarContributor">
      </editor>
   </extension>

</plugin>
